<html>
    <head>
        <title>location result</title>
        <%- include('header'); -%>
        <%- include('layout'); -%>
        <link rel="stylesheet" href="css/styles-merged.css">
        <link rel="stylesheet" href="css/style.min.css">
        <link rel="stylesheet" href="css/custom.css">
    </head>
    <body>
        <!-- <% locos.forEach(function (loco){ %>
            <div class="card">
                <div class="card-body">
                    <h1><%= loco.pgname %></h1>
                    <p class="card-text">address:<%= loco.address %></p>
                    <a class="card-link">click here for more info</a>
                </div>
            </div>
        <% }) %> -->


        <section class="probootstrap-section probootstrap-section-lighter">
          <div class="container">
            <div class="row">

                <% locos.forEach(function (loco){ %>
              <div class="col-md-4 col-sm-6">
                <div class="probootstrap-card probootstrap-listing">
                  <div class="probootstrap-card-media">
                    <img src="img/slider_1.jpg" class="img-responsive" alt="Free HTML5 Template by uicookies.com">
                    <!-- <a href="#" class="probootstrap-love"><i class="icon-heart"></i></a> -->
                  </div>
                  <div class="probootstrap-card-text">
                    <h2 class="probootstrap-card-heading"><a href="#"><%= loco.pgname %></a></h2>
                    <div class="probootstrap-listing-location">
                      <i class="icon-location2"></i> <span><%= loco.address %></span>
                    </div>
                    <div class="probootstrap-listing-category for-rent"><span>for rent</span></div>
                    <div class="probootstrap-listing-price"><strong><%= loco.roomprice %> Rs</strong> / month</div>
                  </div>
                  <!-- <div class="probootstrap-card-extra">
                    <ul>
                      <li>
                        Area
                        <span>2400 m2</span>
                      </li>
                      <li>
                        Beds
                        <span>3</span>
                      </li>
                      <li>
                        Baths
                        <span>2</span>
                      </li>
                      <li>
                        Garages
                        <span>1</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div> -->
              <% }) %>
            </div>
          </div>
        </section>
        <script src="js/scripts.min.js"></script>
        <script src="js/main.min.js"></script>
        <script src="js/custom.js"></script>
      
    </body>

</html>